:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --li-background-color: #f0f0f0;
    --li-background-color-green: #00f853;
}

body.dark-mode {
    --background-color: #1c1c1c;
    --text-color: #f0f0f0;
    --li-background-color: #333333;
}

body.dark-green {
    --background-color: #56ab2f;
    --text-color: #3af800a8;
    --li-background-color: #3b7a57;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: var(--li-background-color);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.theme-toggle {
    background-color: var(--li-background-color);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
